[submodule "Elysium"]
	path = Elysium
	url = https://gitlab.com/jszajek/elysium_v2.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://gitlab.com/jszajek/spdlog-fork.git
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://gitlab.com/jszajek/yaml-cpp-fork.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://gitlab.com/jszajek/glfw-fork.git
